* {
    margin: 0;
    padding: 0;
    font-family:'poppins',sans-serif;
}
body{
  display: flex;
    justify-content: center;
    text-align: center;
    padding: 5rem;
    background-color: rgb(249, 253, 209);	
}
.navbarbody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}

.linksparentbody {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navbarlinks {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;

}

.navbarlinks>a {
    color: black;
    font-weight: 600;
    font-family: sans-serif;
    text-decoration: none;

}

.navbarlinks>a:hover {
    border-bottom: solid;
    border-color: #2D6056;
}

.navbarlinks>button {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 1rem;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    background-color: #2D6056;
    color: white;
}

.closeicon>span {
    font-size: 2.5rem;
}

.closeicon {
    display: none;
}
.hero-section{
    margin: 2rem;
    display: flex;
  }
  .hero-image img{
    border-radius: 0.5rem;
    object-fit: cover;
    width: 90%;
    height: 80%;
  }
  .hero-section> .text{
    width: 50%;
    color: #000000;
  
  }
  .hero-section> .text p{
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .hero-section> .text h2{
    color: #241501;
    font-size: 3.5rem;
    margin-bottom: 1rem;
  
  }
  .hero-section> .text h2 span{
    font-size: 5.5rem;
  }
  .hero-section> .text>button{
    background-color: tomato;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    font-size: 1rem;
    color: #000000;
    font-family: 'poppins';
  }


.quality section{
    display: flex;
    align-items: center;
    justify-content: center;
}


.category {
    width: 70%;
}

.heading h2 {
    font-size: 2rem;
}

.heading p {
    margin: 1rem auto;
    font-size: 1.3rem;
}

.card {
    width: 28%;
    background-color: #fff;
    border-radius: 15px;
    text-align: center;
    padding: 2rem;
    margin: 1rem;
}

.card:hover {
    cursor: pointer;
    color: #fff;
    background-color: rgb(84, 6, 46);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    transition: 0.3s ease;
}

.card i {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.feature {
    width: 100%;
    display: flex;
    justify-content: space-between;
}



.chia-section{

    width: 80%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    overflow-x: hidden;
    padding: 5rem 7rem;
}
.imgWrapper{
    overflow: hidden;
}
 .imgWrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}
.imgWrapper:hover img{
    transform: scale(1.25);
}
.contentWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}
 .contentWrapper span.textWrapper{
    display: block;
    font-size: 20px;
    text-transform: capitalize;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}
 .contentWrapper span.textWrapper span{
    display: inline-block;
    background: #383f47;
    width: 70px;
    height: 5px;
}
.contentWrapper h2{
    font-size: 40px;
    font-weight: 700;
    color: #383f47;
    padding-bottom: 20px;
}
 .contentWrapper p{
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 25px;
}
 .contentWrapper a{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background: #383f47;
    color: #fff;
    padding: 15px 40px;
    letter-spacing: 1px;
    user-select: none;
}
.gallery{
    background-color: #002733;
    z-index: 100;
    padding: 2rem;
    margin: 5rem 1rem;
  }
  .gallery>.gallery-grid{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .gallery>.heading{
    font-family: 'oregano';
    color: #fff;
    font-size: 2rem;
    text-align: center;
    margin: 3rem;
    padding: 0;
  }
  .image-grid {
      --gap: 16px;
      --num-cols: 4;
      --row-height: 200px;
  
      box-sizing: border-box;
      padding: var(--gap);
  
      display: grid;
      grid-template-columns: repeat(var(--num-cols), 1fr);
      grid-auto-rows: var(--row-height);
      gap: var(--gap);
  }
  
  .image-grid>img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  
  .image-grid-col-2 {
      grid-column: span 2;
  }
  .image-grid-row-2 {
      grid-row: span 2;
  }
  .footer{
    padding: 1rem;
     background-color: hsl(0, 0%, 86%);
     display: flex;
     flex-direction: column;
     gap: 2rem;
     text-align: center;
     color: rgb(0, 0, 0);
     font-family: 'Poppins', cursive;
     
 }
 .footer>h1{
     font-size: 2rem;
 }
 
 .footermenu{
     display: flex;
   align-items: center;
   justify-content: center;
     gap: 2rem;
     list-style:none;
 
 }
 .footermenu>li>a{
     color: rgb(0, 0, 0);
     text-decoration: none;
     padding: 0rem;
     cursor: pointer;
 }
 .footerbottom{
     display: flex;
     border-top: solid 0.1rem;
     padding: 1rem;
     padding-left: 2rem;
     align-items: center;
    justify-content: space-between ;   
   
 }
 .footerbottom>p{
     font-size: 0.8rem;
 }
 .footericons{
     display: flex;
     gap: 1rem;
     list-style:none;
 
 }
 .color-white{
     color: rgb(0, 0, 0);
     font-size: 1.5rem;
 }
@media screen and (max-width: 850px) {
    .footer>h1{
        font-size: 3rem;
    }
    .footerbottom{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-top: solid 0.1rem;
        padding: 1rem;
        padding-left: 2rem;
        align-items: center;
       justify-content: space-between ;   
      
    }
    .footerbottom>p{
        font-size: 0.5rem;
    }
    .color-white{
        color: white;
        font-size: 1.5rem;
    }

    .image-grid {
        --num-cols: 2;
        --row-height: 200px;
    }
  .image-grid>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
    .category {
		width: 100%;
	}
    .feature {
        flex-direction: column;
		width: 100%;
    }

    .card {
        width: 100%;
        margin-bottom: 2rem;

    }
}
    .navbarbody {
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    }



    .closeicon {
        display: block;
        font-size: 2rem;
    }

    .linksparentbody {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        gap: 2rem;

    }

    .navbarlinks {
        display: none;
        margin-top: 1rem;
        flex-direction: column;
        margin-bottom: 1rem;
        align-items: center;


    }

    .active {
        display: flex;
    }
    .hero-section{
        display: block;
        margin: 1rem;
      text-align: center;
      }
      .hero-section>.text{
        margin-top: 3rem;
        width: 100%;
      }
      .hero-section> .text p{
        font-size: 0.9rem;
      }
      .hero-section> .text h2{
        font-size: 2.4rem;
      }
      .hero-section> .text h2 span{
        font-size: 3.5rem;
      }

}
