@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbarbody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 7rem;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    background-color: #003C38;
}

.linksparentbody {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.linksparentbody h1 {
    font-family: 'Dancing Script';
    color: #fff;
}

.navbarlinks {
    display: flex;
    align-items: center;
    gap: 3rem;
    cursor: pointer;

}

.navbarlinks>a {
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-family: 'Poppins';
    text-decoration: none;

}

.navbarlinks>a:hover {
    border-bottom: solid;
    border-color: #ffffff;
}

.navbarlinks>button {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 1rem;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    background-color: #2D6056;
    color: white;
}

.closeicon>span {
    font-size: 2.5rem;
}

.closeicon {
    display: none;
}

.hero {
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
}

.home h1 {
    position: absolute;
    display: flex;
    text-align: center;

    font-family: 'Montserrat';
    font-size: 5rem;
    z-index: 10;
    font-weight: 500;
    color: #fff;

}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    background-color: black;
    width: 100%;
    height: 30rem;

}

.home img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    opacity: 0.5;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 5rem;
    border-radius: 1rem;
    background-color: #FCFFFF;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.about:hover {
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
}

.about .location {
    margin: 1rem 0;
    display: flex;
}

.about .location img {
    width: 56px;
}

.about .location .location-content {
    padding: 0 1rem;
    font-family: 'poppins';
    font-size: 1.5rem;
}

.about .left-section {
    max-width: 50rem;
    margin: 0 2rem 0;
}

.about .left-section h3 {
    Font-family: 'Poppins';
    font-size: 1.5rem;
}

.about .left-section p {
    Font-family: 'Poppins';
    font-size: 1rem;
    margin: 1rem 0;
}

.about .right-section {
    width: 40%;
    padding: 2rem;
}

.about .right-section img {
    max-width: 30rem;
    max-height: 40rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.description {
    font-family: 'Poppins';
    margin: 2rem 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blocks {

    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
}

.block1 {
    padding: 3rem;
    margin: 1rem;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.block1:hover {
    transform: scale(1.1);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
}

.dsc-content {
    max-width: 50rem;
    margin-left: 5rem;
}

.dsc-content h1 {
    font-size: 2.5rem;
}

.dsc-content p {
    margin: 2rem 0;
    font-size: 1.3rem;
}

.products {
    font-family: 'Poppins';
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.products h1 {
    font-size: 2.5rem;
    margin: 4rem 0;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 7rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
border-radius: 1rem;
}

.card h2 {
    font-size: 2rem;
}

.card p {
    font-size: 1.2rem;
}

.card .card-content {
    max-width: 40rem;
    font-size: 2rem;
    margin: 0rem 2rem;

}

.card .card-content h1 {
    font-size: 2rem;
}

.card img {
    height: 20rem;
    max-width: 30rem;
    object-fit: cover;
    border-radius: 1rem;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact .contact-form input, textarea, button{
display: block;
margin:1rem 5rem 2rem 4rem;
width: 25rem;
margin-bottom: 2rem;

}
.contact .contact-form input{
    font-family: 'Poppins';
    height: 2.5rem;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #DDECFF;
    outline: none;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.contact .contact-form textarea{
    font-family: 'Poppins';
    min-height: 6rem;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #DDECFF;
    outline: none;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.contact .contact-form button{
   
    font-family: 'Poppins';
    font-size: 1rem;
    color: #fff;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #00336D;
    outline: none;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}
.contact .contact-form button:hover{
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}
.contact .contact-img img{
    max-width:40rem;
    margin: 4rem 4rem 0  0;
}
.contact-head h1{
    font-size: 3rem;
    font-family: 'Poppins';
    text-align: center;
    margin-top: 4rem;
}
.image-grid {
	--gap: 16px;
	--num-cols: 3;
	--row-height: 300px;
	box-sizing: border-box;
	padding: var(--gap);
	display: grid;
	grid-template-columns: repeat(var(--num-cols), 1fr);
	grid-auto-rows: var(--row-height);
	gap: var(--gap);
}

.image-grid>img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.image-grid-row-2 {
	grid-row: span 2;
}
.gallery h1{
    font-family: 'Poppins';
    font-size: 3rem;
     text-align: center;
     margin: 3rem 0;
}
  .footer{
    padding: 1rem;
     background-color: hsl(0, 0%, 86%);
     display: flex;
     flex-direction: column;
     gap: 2rem;
     text-align: center;
     color: rgb(0, 0, 0);
     font-family: 'Poppins', cursive;
     
 }
 .footer>h1{
     font-size: 2rem;
 }
 
 .footermenu{
     display: flex;
   align-items: center;
   justify-content: center;
     gap: 2rem;
     list-style:none;
 
 }
 .footermenu>li>a{
     color: rgb(0, 0, 0);
     text-decoration: none;
     padding: 0rem;
     cursor: pointer;
 }
 .footerbottom{
     display: flex;
     border-top: solid 0.1rem;
     padding: 1rem;
     padding-left: 2rem;
     align-items: center;
    justify-content: space-between ;   
   
 }
 .footerbottom>p{
     font-size: 0.8rem;
 }
 .footericons{
     display: flex;
     gap: 1rem;
     list-style:none;
 
 }
 .color-white{
     color: rgb(0, 0, 0);
     font-size: 1.5rem;
 }
@media screen and (max-width: 1150px) {
    .navbarbody {
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    }

    .closeicon {
        display: block;
        font-size: 2rem;
    }

    .linksparentbody {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        gap: 2rem;

    }

    .navbarlinks {
        display: none;
        margin-top: 1rem;
        flex-direction: column;
        margin-bottom: 1rem;
        align-items: center;


    }

    .active {
        display: flex;
    }

    .about {
        display: block;
        margin: 2rem 0;
    }

    .about .left-section {
        margin: 4rem 2rem 0;
        padding: 1rem 0;
    }

    .about .location .location-content {
        font-size: 1.3rem;
    }

    .about .right-section {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5rem;
    }

    .about .right-section img {
        width: 20rem;
    }

    .description {

        margin: 1rem;
        flex-direction: column;
    }

    .block1 {
        padding: 2rem;
    }

    .dsc-content {
        text-align: center;
        margin-left: 0;
    }

    .dsc-content h1 {
        margin-top: 2rem;
        font-size: 2rem;
    }

    .dsc-content p {
        margin: 1rem 0;
        font-size: 1rem;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 2rem 7rem;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    }

    .card .card-content {
        width: 20rem;
        font-size: 1rem;
        margin: 3rem 1rem;

    }

    .card img {
        height: 12rem;
        max-width: 30rem;
        object-fit: cover;

        border-radius: 1rem;
    }
    .contact{
        flex-direction: column;
        margin-bottom: 4rem;
    }
    .contact .contact-form input, textarea, button{
        width: 18rem;
margin:0 0 2rem 0;
        
        }
        .contact .contact-img img{
            max-width:20rem;
            margin: 0rem;
        }
}
